name: Check approval
on: workflow_call
jobs:
  check-approval:
    timeout-minutes: 10
    runs-on: ubuntu-24.04
    permissions:
      pull-requests: read # To get pull requests
      contents: read # To list commits in pull requests
    steps:
      # Customize inputs of validate-pr-review-action per repository.
      - id: param
        name: Set parameters
        uses: szksh-lab/validate-pr-review-action/get-config@main

      - name: Validate PR reviews
        uses: suzuki-shunsuke/validate-pr-review-action@70050e4bf288cab4608ce3170e15ce7e12f05a48 # v0.0.9
        with:
          trusted_apps: ${{steps.param.outputs.trusted_apps}}
          trusted_machine_users: ${{steps.param.outputs.trusted_machine_users}}
          untrusted_machine_users: ${{steps.param.outputs.untrusted_machine_users}}
